### Compiled Source ###
*.js
!coffeequate/src/build.js
!coffeequate/src/build-min.js

### Editor Specific ###
*.sublime-workspace

### Libraries ###
!coffeequate/src/lib/**/*.js

### Workspace ###
progress/*