### Compiled Source ###
*.js

# Disabling the committing of builds.
#!coffeequate/src/build.js
#!coffeequate/src/build-min.js

### Editor Specific ###
*.sublime-workspace
.DS_Store/*

### Libraries ###
!coffeequate/src/lib/**/*.js

### Workspace ###
progress/*