<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>

    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="./stylesheets/css3reset.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
  </head>
  <body>
    <header id="title">
      <h1>Coffeequate</h1>
      A computer algebra system for JavaScript.
      
      <nav>
        <a href="https://github.com/MatthewJA/Coffeequate/releases">Releases</a> -
        <a href="https://github.com/MatthewJA/Coffeequate">GitHub</a> -
        <a href="https://github.com/MatthewJA/Coffeequate/issues">Issues</a>
      </nav>
    </header>

    This project is maintained by <a class="header name" href="https://github.com/MatthewJA">Matthew Alger</a> and <a class="header name" href="https://github.com/bshlgrs">Buck Shlegeris</a>.

    <section>
      <article>
        <img src="./images/coffeequate_small.jpg" alt="Me">
        {{content}}
      </article>
    </section>
  </body>
</html>